.o_demande_interne_form {
    background-color: #f9f9f9;

    .oe_title {
        color: #4e4e4e;
        h1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            color: #2E86C1;
        }
    }

    .o_group_col_6 {
        background: white;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
        margin-bottom: 10px;
    }

    .o_notebook_headers {
        background-color: transparent !important;
        border-bottom: 2px solid #2E86C1;
        
        .nav-item {
             a {
                font-weight: bold;
                color: #555;
                &:hover {
                    color: #2E86C1;
                }
             }
        }
    }
}
